.cart-container{
    padding: 10px;
    width: 100%;
    height: 100%;
}

h1{
    font-size: 25px;
    color: var(--daisy-brown);
}

.cart-btn{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.cart-products{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.subtotal{
    color: var(--daisy-brown);
    font-size: 20px;
    font-weight: 500;
}

.confirm{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    gap: 100px;
}

.btn {
    background-color: var(--daisy-primary);
    color: var(--daisy-secondary);
    border-color: var(--daisy-primary);
}

.btn:hover {
    background-color: var(--daisy-secondary);
    color: var(--daisy-primary);
    border-color: var(--daisy-primary);
}

@media(max-width:768px){
    .cart-products{
        display: flex;
        flex-direction: column;
    }

    .btn-xs{
        width:100%;
    }
}